<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel ="stylesheet" href="stylesheets/style.css">
  
  
  <title>P2_28050922</title>
	
</head>
<!--------------------------------------------------------------->

<body>

	<div>
		
		<img src="/images/omar.jpg" alt="Pefil" width="150" height="150">

		<div id="titulo">

		<h1 id="margen-arriba">Omar Pimentel</h1>

         </div>

		<a  href="https://www.facebook.com/OmarE3n/">Mi Facebook</a>
		<a href="https://instagram.com/omar_pimentelmc?igshid=ZDdkNTZiNTM=">Mi Instagran</a>
		<a href="https://t.me/TheQuab">Mi Telegram</a>
		<a href="https://wa.me/qr/2RBPEX6U75P5J1">Mi whatsapp</a>


<!---------------------------------------------------------------->

		<fieldset id="dd">
			<legend><strong>Datos Personales</strong></legend>
			<ul>
				<li><strong>Direccion: </strong>Direccion: San Sebastian de los reyes. Edo. Aragua. Calle la Pista Sector El polvero</li>
		         <li><strong>Telefono: </strong>+58414-224-5294</li>
				<li><strong>Cedula: </strong>28.050.922</li>
				<li><strong>Fecha de nacimiento: </strong>  23/06/2001</li>
				<li><strong>Email: </strong> archpaladin@gmail.com</li>
			</ul>
		</fieldset>

<!----------------------------------------------------------------->

		<fieldset>
		<legend><strong>Formacion Academica</strong></legend>  
		<ul>
		<li><strong>Primaria: </strong>E.B.E. "Andres Rodriguez Ramirez"</li>
		<li><strong>Secundaria: </strong>E.B.E. "Andres Rodriguez Ramirez"</li>
		<li><strong>Educacion Superior: </strong> U.N.E.R.G. San Juan de los Morros, Area de Ingenieria en Sistemas. Ing. Informatica</li>
        <li><strong>Curso: </strong>Developer Junior en Javascript</li> 
		</ul>
		</fieldset>

<!------------------------------------------------------------------>

		<fieldset>
		<legend><strong>Experiencia Laboral</strong></legend>
		<ul>
			<li><span>Vigilante Turno-nocturno Granja H&H Puro Lomo<span></li>
			<li><span>Conductor de Rutas Publicas C&C Aragua</span></li>
			<li><span>Desarrollador Web en Hostinger</span></li>
			
		</ul> 
		</fieldset>

<!------------------------------------------------------------------>

	  <fieldset>
	  <legend><strong>Habilidades y Destrezas</strong></legend> 
	  <ul>
	  	<li>Comunicación</li>
	  	<li>Liderazgo</li>
	  	<li>Resolución de problemas</li>
	  	<li>Adaptabilidad</li>
	  	<li>Negociación</li>
	  	<li>Creatividad</li>
	  </ul>
	  </fieldset>
	<form id="formulario">
    <h1><span class="co">*</span>Formulario<span class="co">*</span></h1>
    
    <fieldset>
    
 
 	<legend><strong>Datos</strong></legend>

    	<h2>Comentarios</h2>

 	<label>Nombre</label>

 	<input type="text" name="name" placeholder="ingrese Nombre">

 	<label>Email</label>

 	<input type="email" name="email" placeholder="Ingrese Email">
 <p>
 	<label>Comentario</label>
	  
	  	
 			
<textarea type="comment" name="comment" required="required" cols="39" placeholder="Comenta tu opinion" rows="5"></textarea>
    </p>
    
    <!------------------------------------------------------------------>
  
    <!------------------------------------------------------------------->
   
   </form> 
   <button type="submit" form="formulario">Enviar</button>

<footer class="pie">Derechos reservados</footer>
<h2 class="pie">Omar Pimentel</h2></div>
</fieldset>
<!----------------------------------------------------------------->


</body>

</html>
